<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appinionbd.abc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.signIn.SignInActivity"
            android:noHistory="true"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.signUp.SignUpActivity"
            android:windowSoftInputMode="stateHidden" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".view.personalInformation.PersonalInformationActivity" />

        <activity
            android:name=".view.choosePatientOrMonitor.ChoosePatientOrMonitorActivity"
            android:noHistory="true" />

        <activity
            android:name=".view.home.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme" />

        <activity android:name=".view.patientActivity.PatientActivity" />

        <activity
            android:name=".view.patientCode.PatientCodeActivity"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".view.capturePicture.BarcodeCaptureActivity" />

        <activity android:name=".view.createTask.CreateTaskActivity" />

        <activity android:name=".view.PatientInfo.PatientInfoActivity" />

        <activity android:name=".view.alarm.AlarmActivity"></activity>

        <receiver android:name=".view.alarm.AlarmReceiver"/>

        <service
            android:name=".view.alarm.RingtonePlayingService"
            android:enabled="true">
        </service>

    </application>

</manifest>